<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../webjars/Semantic-UI/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/diy.css">
    <title>标签</title>
</head>
<body>
<!--导航栏-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="javascript:;" class="nav-item m-mobile-hide item"><i class="home icon"></i>首页</a>
            <a href="javascript:;" class="nav-item m-mobile-hide item"><i class="idea icon"></i>分类</a>
            <a href="javascript:;" class="active nav-item m-mobile-hide item"><i class="tags icon"></i>标签</a>
            <a href="javascript:;" class="nav-item m-mobile-hide item"><i class="info icon"></i>关于我</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" id="button" class="ui menu black button icon m-top-right m-pc-hide">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间内容-->
<div class="m-container-small m-padded-tb-big ">
    <div class="ui container">
<!--        header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column ">
                    共<h3 class="ui orange header m-inline-block m-text-thin">14</h3>个
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padded-tb-large">
            <a href="javascript:;" class=" ui teal basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>
            <a href="javascript:;" class=" ui  basic left pointing large label m-margin-tb-tiny">
                学习日志
                <div class="detail">13</div>
            </a>

        </div>
        <div class="ui top padded attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header">你真的理解什么是财富自由么？</h3>
                        <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标，而是事实，我们很多人很多时候根本对目标没有正确的定义，甚至根本从来没想过，知识大家都了么做而已......</p>
                        <div class="ui stackable grid">
                            <div class="left aligned eleven wide column">
                                <div class="ui m-padded-tb-mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1012/100/100" alt="" class="ui avatar image">
                                        <div class="content"><a href="javascript:;" class="header">崔诗东</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i>2020-05-20
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i>999+
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="javascript:;" class="ui teal basic m-padded-tiny m-text-thin label">认知升级</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="javascript:;" target="_blank">
                            <img class="ui rounded image" src="https://picsum.photos/id/1012/800/450" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned three column grid">
                <div class="left aligned column">
                    <a href="javascript:;" class="ui teal small basic button">上一页</a>
                </div>
                <div class="center aligned column">
                    <a href="javascript:;" class="ui teal small basic button">分页</a>
                </div>
                <div class="right aligned column ">
                    <a href="javascript:;" class="ui teal small basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-big">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="/images/wechat.jpg" class="ui rounded image" alt="" style="width:110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="javascript:;" class="item">用户故事(User Story)</a>
                    <a href="javascript:;" class="item">热门话题</a>
                    <a href="javascript:;" class="item">热门话题</a>
                    <a href="javascript:;" class="item">热门话题</a>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="javascript:;" class="item">Email：3576419@vip.com</a>
                    <a href="javascript:;" class="item">QQ：357776419</a>
                    <a href="javascript:;" class="item">wechat：a520xdd</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-text-spaced m-padded-tb-big m-text-lined">
                    这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人有所帮助0.0</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced">Copy Right©2019-2020 Blog Designed by Cuishidong</p>
    </div>

</footer>

<script type="application/javascript" src="../webjars/jquery/3.5.1/dist/jquery.js"></script>
<!--<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>-->
<script type="application/javascript" src="../webjars/Semantic-UI/2.4.1/semantic.min.js"></script>

<script>
    $('#button').click(function () {
        $('.nav-item').toggleClass('m-mobile-hide')
    });

</script>
</body>
</html>